@{
    Layout = "_Layout2";
}

@section CSS {
    <link href="~/css/screen.css" rel="stylesheet" asp-append-version="true" />
}

<div id="info">
    <img src="~/img/Liten bild till karta.jpg" style="width: 100%;" />
    <h1>Så tycker vi om våra stadsdelar</h1>
    Just nu pågår en dialog om Umeås stadsdelar. Vi vill bland annat veta vilka platser man trivs och inte trivs på samt vad man önskar för sin stadsdel i framtiden. Att Umeå fortsätter att växa ger oss fina möjligheter att ta vara på goda värden och försöka komplettera med det som efterfrågas.<br /><br />
    I den här kartan kan du se vilka platser vi trivs på och vilka vi tycker är mindre trivsamma. Klicka på de röda eller gröna gubbarna för att läsa kommentarer.
    <br /><br />
    <b>Vad tycker du om din stadsdel?</b><br />
    På www.umea.se/stadsdelsdialog kan du läsa mer och bidra med dina synpunkter!


</div>
<iframe src="https://kartor.umea.se/projektkarta_enkat/karta"></iframe>